		*{
		margin:0;
		padding:0;
		}
		#box{
		width:800px;
		height:502px;
		margin:20px auto;
		border:1px solid red;
		overflow:hidden;
		
		}
		#box ul{
		list-style:none;
		width:800px;
		border:1px solid red;
		}
		#box ul li{
		width:160px;
		height:502px;
		//border: 1px solid #000000;
		
		float:left;
		
		}